<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<tr th:each="s:${list}">
    <p th:text="${s}"></p>
    <a th:href="${'http://localhost:1998/deleteImg?id=' + s} " target="_blank"><button>Удалить</button></a>
    <p><img th:src="${'http://localhost:81/Image'+s + '.jpg'}" width="250" height="250"></p>
</tr>
</body>
</html>